/** confirm **/
.ele_confirm_panel {
	width: 300px;
	height: 110px;
	position: absolute;
	z-index: 10005;
	background-color: #FFFFFF;
	box-shadow: 3px 2px 5px #E1E1E1;
	-moz-window-shadow: 3px 2px 5px #E1E1E1;
	-webkit-box-shadow: 3px 2px 5px #E1E1E1;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	top: 0px;
	left: 0px;
	border: 1px #EAEAEA solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.ele_confirm_margin_top_20{
	width: 100%;
	height: 1px;
	border: none;
	background-color: #C4C4C4;
	margin-top: 20px;
}

.ele_confirm_divider{
	width: 100%;
	height: 1px;
	border: none;
	background-color: #F1F1F1;
}

.ele_confirm_divider_v{
	width: 1px;
	height: 100%;
	border: none;
	background-color: #F1F1F1;
	float: left;
}

.ele_confirm_view{
	width: 100%;
	height: 30px;
	margin-top: 20px;
}

.ele_confirm_btn_view{
	width: 100%;
	height: 39px;
}

.ele_confirm_txt{
	font-family: '微软雅黑';
	font-size: 12px;
	color: #009999;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.ele_confirm_btn_sure{
	width: 150px;
	height: 39px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	color: #009999;
	float: left;
	cursor: pointer;
}

.ele_confirm_btn_sure_over{
	width: 150px;
	height: 39px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	background-color: #009999;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
}

.ele_confirm_btn_cancel{
	width: 149px;
	height: 39px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	color: #C4C4C4;
	float: left;
	cursor: pointer;
}

.ele_confirm_btn_cancel_over{
	width: 149px;
	height: 39px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	background-color: #C4C4C4;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
}

.ele_confirm_btn_txt{
	font-family: '微软雅黑';
	font-size: 14px;
	height: 39px;
	letter-spacing: 4px;
	line-height: 39px;
	vertical-align: middle;
}
.ele_alert_btn_sure{
	width: 300px;
	height: 39px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	color: #009999;
	background-color: #F8F8F8;
	float: left;
	cursor: pointer;
}
.ele_alert_btn_sure_over{
	width: 300px;
	height: 39px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	background-color: #009999;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
}