.ele_label{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #4C4C4C;
}

/** iconlabel **/
.ele_icon_label{
	padding: 5px 9px 5px 9px;
	font-size: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}
.ele_icon_label_focus{
	padding: 4px 8px 4px 8px;
	background-color: #F0F2FF;
	border: 1px #D4D8F6 solid;
	font-size: 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}
.ele_icon_label_icon{
	width: 16px;
	height: 16px;
}
.ele_icon_label_txt{
	line-height: 16px;
	vertical-align: top;
	font-size: 12px;
	color: #4C4C4C;
}