/*popwindow*/
.ele_popwindow_bg_view{
	width: 100%;
	height: 100%;
	background-color: #c4c4c4;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	z-index: 100;
	top: 0px;
	left:  0px;
	display: none;
}
.ele_popwindow_view{
	width: auto;
	height: auto;
	position: absolute;
	z-index: 101;
	background-color: #009999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: none;
}

.ele_popwindow_title_view{
	width: auto;
	margin-left: 4px;
	height: 28px;
}

.ele_popwindow_title_name_view{
	width: auto;
	height: 24px;
	padding-left: 10px;
	float: left;
}

.ele_popwindow_title_close_view{
	width: 18px;
	height: 18px;
	margin-top: 4px;
	float: left;
}

.ele_popwindow_title_icon_close{
	width: 18px;
	height: 18px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.ele_popwindow_txt_title{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #F5F5F5;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}

.ele_popwindow_content_view{
	width: auto;
	height: auto;
	margin-left: 4px;
	background-color: #FFFFFF;
}