.ele_edittext_style{
	width: 200px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	border: 1px #009999 solid;
	text-indent: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height:  32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
}
.ele_edittext_style:focus{
	border: 1px #fafafa solid;
	box-shadow: 0px 0px 3px #009999;
	-webkit-box-shadow: 0px 0px 3px #009999;
	-moz-window-shadow: 0px 0px 3px #009999;
}